<!-- Introduction Row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">About Us
      <small>Thank you for visiting our page!</small>
    </h1>
    <p>We are developing Ruby on rails for CSC 517 project. This app is library room management. Please login using admin@ncsu.edu</p>
  </div>
</div>

<!-- Team Members Row -->
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Our Team</h2>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAdRAAAAJDk4Y2Q2Y2Y2LTFlMDUtNGQxNC1iOTUxLTM4MDc4NzY1ZmY4YQ.jpg" alt="">
    <h3>Mahesh Masale
      <small>Decoder!</small>
    </h3>
    <p>Looks after DJ and Pranav!</p>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="https://media.licdn.com/media/AAEAAQAAAAAAAAhHAAAAJGIzYzMyMjc3LWIyMDctNDhlYS04YWUxLWQxNjcwYzMxZDkyOA.jpg" alt="">
    <h3>Pramav Nawathe
      <small>Dungen Master!</small>
    </h3>
    <p>Login Master!</p>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="https://media.licdn.com/media/AAEAAQAAAAAAAAk2AAAAJGY3ZmI3NDEyLTdkM2EtNDU2ZS05Y2I2LTUyN2FjZjY0NjhlYg.jpg" alt="">
    <h3>Dhananjay Sathe
      <small>The Coder!   </small>
    </h3>
    <p>Busy in coding competition!</p>
  </div>
</div>