/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header {
    background-color: coral;
    display: inline-flex;
    font-size: 30px;
    font-family: Segoi UI;
    padding: 15px 0px 2px 0px;
    border-bottom: grey solid 3px;
    position: relative;
    overflow: visible;
}
.Footer{
    background-color: coral;
    display: inline-flex;
    font-size: 15px;
    font-family: Segoi UI;
    padding: 2px 0px 2px 0px;
    border-top: grey solid 3px;
}

#logout{
    background-repeat: no-repeat;
    background-image: url('./logout.png');
    height: 37px;
    width: 37px;
    background-color: transparent;
    border: none;
}
.gr__localhost
{
    height : 100% !important;
}